
@{
    ViewBag.Title = "ExpenseList";
}

<script src="~/Scripts/Controllers/ExpensesCtrl.js"></script>

<span ng-init="backendData = @ViewBag.backendData"></span>
<div ng-controller="expensesListCtrl">
    <br />
    <br />
    <div class="row">
        <div class="col-sm-6">
            <h3>{{message}}</h3>
            <h4>{{providers.length}} registrados</h4>
        </div>
        <div class="col-sm-6">
            <p><a href="#" ng-click="openAddExpensePopUp()" class="btn btn-success btn-sm pull-right">Agregar</a></p>
        </div>
    </div>

    <div id="expensePanel" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width:400px;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="row">
                        <div class="col-sm-12" style="top:20px">
                            <h4 class="modal-title" style="padding-left:45px">
                                <i class="fa fa-sheet"></i>
                                Agregar gasto
                            </h4>
                            <br />
                        </div>

                    </div>
                </div>
                <div class="modal-body">
                    <div class="panel-body">

                        <form>
                            <div>
                                <h4>Información del gasto</h4>
                                Proveedor
                                <br />
                                <select class="input-sm" ng-model="selectedProvider.Value"
                                        ng-options="st.Value as st.Text for st in backendData.Providers"  style="width: 300px;"></select>
                                <br />
                                <br />
                                <textarea class="form-control input-sm" ng-model="newExpenseConcept" placeholder="Concepto "></textarea>
                                <br />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control input-sm" ng-model="newExpenseTotal" placeholder="Monto ($)">
                                        <br />
                                    </div>
                                    <div class="col-sm-6">
                                        <select class="input-sm"" ng-model="selectedCurrency"
                                                ng-options="sc for sc in backendData.Currencies" style="width: 96px;"></select>
                                        <br />
                                    </div>
                                </div>
                                <br />
                                <div  ng-show="selectedCurrency != 'MXN'" class="row">
                                    
                                    <div class="col-sm-6">
                                        Tipo de cambio
                                        <input type="text" class="form-control input-sm" ng-model="newExpenseExchangeRate" placeholder="Tipo de Cambio(TC)">
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </form>

                        <span style="color:red" ng-show="responseMessage.length > 0">{{responseMessage}}</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" ng-click="addNewExpense()">Guardar</button>
                </div>
            </div>

        </div>
    </div>

</div>

